@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: white;
    padding: 0%;
    margin: 0%;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
section{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.left-side{
    width: 48%;
}
.right-side{
    width: 48%;
}

img{
    width: 100%;
}

.experience-area{
    display: flex;
}


/* navber section start */
.container{
    width: 1280px;
    margin: 20px auto;
}
#navber{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navber-left{
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo-icon-container{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: rgb(165, 61, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-icon-container span{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 0%;
}
.logo-name{
    color: rgb(19, 34, 56);
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
}
.navber-right{
    display: flex;
    align-items: center;
    /*gap: 15px;*/
}
.navber-link{
    padding: 12px 24px;
}
.navber-link span{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}
.navber-link-btn{
    padding: 12px 24px;
    border-radius: 4px;
    background-color: rgb(165, 61, 255);
}
.navber-link-btn span{
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}
/* navber section end*/
